<div class="app-window">
  <mat-toolbar class="app-toolbar-top"> 
    <div class="app-title">Non-uniform Timer</div>
    <div>Total time {{ totalDuration }}</div>
  </mat-toolbar>

  <mat-toolbar class="app-toolbar-stepgroup">
    
    <mat-form-field class="form-stepgroup">
      <mat-select [(value)]="activeStepGroup" [disabled]="isEditing">
        <mat-option *ngFor="let stepGroup of stepGroups" [value]="stepGroup">{{stepGroup.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="action-menu" mat-button [matMenuTriggerFor]="menu">Actions</button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!isEditing" mat-menu-item (click)="onEdit()">Edit</button>
      <button *ngIf="!isEditing" mat-menu-item (click)="onCreateStepGroup()">New</button>
      <button *ngIf="!isEditing" mat-menu-item (click)="onImportStepGroup()">Import</button>
      <button *ngIf="!isEditing" mat-menu-item (click)="onExportStepGroup()">Export</button>
      <button *ngIf="isEditing" mat-menu-item (click)="onSaveEdit()">Save</button>
      <button mat-menu-item (click)="onRenameStepGroup()">Rename</button>
      <button *ngIf="!isEditing" mat-menu-item (click)="onDeleteStepGroup()">Delete</button>
      <button *ngIf="isEditing" mat-menu-item (click)="onCancelEdit()">Cancel</button>
      <!-- <button *ngIf="!isEditing" mat-menu-item>Settings</button>
      <button *ngIf="!isEditing" mat-menu-item>About</button> -->
    </mat-menu>
    
  </mat-toolbar>

  <div class="app-body">
      <app-runner *ngIf="!isEditiong" [model]="activeStepGroup"></app-runner>
      <!-- <app-editor *ngIf="isEditiong" [model]="activeStepGroup"></app-editor> -->
  </div>

  <mat-toolbar class="app-toolbar-bottom">
    
      <button mat-button>Pause</button>
      <button mat-button>Start</button>
      <button mat-button>Stop</button>
  </mat-toolbar>

</div>