.app-window {
    display: flex;
    flex-direction: column;
    height: stretch;
}

.app-title {
    flex-grow: 1;
}

.app-toolbar-top {
    flex: 0 1 auto;
    min-height: 56px;
    flex-direction: row;
}

.app-toolbar-stepgroup {
    flex: 0 1 auto;
    min-height: 56px;
}

.app-toolbar-bottom {
    flex: 0 1 auto;
    min-height: 72px;
    display: flex;
    justify-content: center;
}

.form-stepgroup {
    flex-grow: 1;
}

.action-menu {
    margin-right: -6px;
    margin-left: 8px;
}

.app-body {
    flex: 1 1 auto;
    overflow-y: auto;
}